<div *ngIf="isInMaintenance == false">
  <div *ngIf="isDim" class="dim">
    <div id="blackout" style="display:block;" (click)="hideDim()">
    </div>
  </div>
  <div style="height: 100%">
    <div *ngIf="isTestWebsite" style="position: fixed; top: 0px; z-index: 50" class="testWebsite">
      Test Website
    </div>
    <div class="navbar-container" fxLayout="row wrap">
      <div fxFlex="50px" fxLayoutAlign="space-around center">
        <mat-icon inline="true" class="icon-menu" style="font-size: 40px" (click)="sidenav.toggle()"> menu </mat-icon>
      </div>
      <div class="float-left" fxFlex="none" fxLayoutAlign="space-around center">
        <img src="img/g_icon.png" style="height: 40px" alt="Global The Source" align="center">
      </div>
      <div class="company-selector" fxFlex fxLayout="row start">
        <div fxFlex="none">
          <mat-form-field style="width: 200px">
            <mat-select [placeholder]="placeholder" [(ngModel)]="selectedCompany" name="compoany" (ngModelChange)="onSelect($event)">
              <mat-option *ngFor="let tenant of tenants" [value]="tenant">
                {{ tenant.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign="start center" *ngIf="!selectedCompany">
          <mat-spinner [diameter]="'30'" class="app-spinner"></mat-spinner>
        </div>
      </div>

      <div class="user-dropdown" fxFlex="50px" fxLayoutAlign="space-between center">
        <user-dropdown></user-dropdown>
      </div>
    </div>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" opened="false" class="sidenav" [ngClass]="(!mobile)?'sidenav':'sidenavMobile'">
        <sidenav (click)='test()'></sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 50px;">
        </div>
          <page-header></page-header>
        <div style="height: 50px;"></div>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
      <!--<div class="dashboard-body mt-50" (scroll)="onScroll()">-->
      <!--</div>-->
    </mat-sidenav-container>
    <div>
      <fabButton (emitter)="toggleFab($event)"></fabButton>
    </div>
  </div>
  <div style="position: absolute; z-index: 10000000">
    <simple-notifications [options]="options"></simple-notifications>
  </div>
</div>
<div *ngIf="isInMaintenance == true">
  <img src="img/maintenance.jpg" style="width: 100%; height: 100%;">
</div>

<div *ngIf="isloading" style="position: fixed; height: 100%; width: 100%; z-index: 100" fxLayout="row" fxLayoutAlign="center center">
  <div class="dim" style="position: fixed; height: 100%; width: 100%;">
  </div>
  <div style="position:fixed; z-index: 150">
    <mat-spinner></mat-spinner>
  </div>

</div>